<article
  class="group relative transition-all duration-300 gap-5 rounded-md hover:bg-zinc-800 overflow-hidden"
>
  <a
    [routerLink]="['/radio', radioItem!.id]"
    (click)="setRadio()"
    class="playlist-item flex p-2 gap-3 items-center justify-center md:justify-start"
  >
    <picture class="md:h-12 md:w-12 h-14 w-14 flex-none">
      <img
        [src]="radioItem!.cover"
        [alt]="alt"
        class="object-cover w-full h-full rounded-md"
        [ngClass]="isCurrentRadio ? 'border-2 border-green-500' : ''"
      />
    </picture>

    <div class="flex-auto flex-col truncate hidden md:flex">
      <h4
        class="text-sm"
        [ngClass]="isCurrentRadio ? 'text-green-500' : 'text-white'"
      >
        {{ radioItem!.title }}
      </h4>

      <span
        class="text-xs"
        [ngClass]="isCurrentRadio ? 'text-green-300' : 'text-gray-400'"
      >
        {{ radioItem!.author }}
      </span>
    </div>
  </a>
</article>
